main.container._full-height._flex._align-center._justify-center
  .error-info
    h1.error-info__title WHOOOPS
    h2.error-info__status 404
    p.error-info__message Page not found
    a(href="/").button.button_link Go Home
  img(src="https://cataas.com/cat?" + cachePrevent , alt="cat image", height="384px").error-info__image