main.container
  .flex-align-center
    .form-wrapper.login-form-wrapper
      form.login-form
        .logo
          img.logo__image
          h1.logo__title Chateo
        .form-controls
          label(for="loginInput") Login
          input(type="text" id="loginInput" name="login")
        .form-control
          label(for="passwordInput") Password
          input(type="password" id="passwordInput" name="password")
        button(type="submit") Login
