main.grid.chat
  aside.col-desk-3.chat__chat-sider
    ul.chat__chats-list
      - for (var x = 0; x < 20; x++)
        .chat__chats-list__item
  main.col-desk-9.chat__chat-content
    header.chat__chat-header
    section.chat__chat-messages
      - for (var x = 0; x < 20; x++)
        .chat__chat-messages__message