// colors
$brand-color-dark: #001A83;
$brand-color-default: #002DE3;
$brand-color-dark-mode: #375FFF;
$brand-color-light: #879FFF;
$brand-color-background: #D2D5F9;

$neutral-color-active: #0F1828;
$neutral-color-dark: #152033;
$neutral-color-body: #1B2B48;
$neutral-color-weak: #A4A4A4;
$neutral-color-disabled: #ADB5BD;
$neutral-color-line: #EDEDED;
$neutral-color-off-white: #F7F8FC;
$neutral-color-white: #FFFFFF;

$accent-color-danger: #E94242;
$accent-color-warning: #FDCF41;
$accent-color-success: #2CC069;
$accent-color-safe: #7BCBCF;

$gradient-color-1: linear-gradient(100.5deg, #D2D5F9 -28.48%, #2C37E1 104.75%);
$gradient-color-2: linear-gradient(140.28deg, #EC9EFF -11.13%, #5F2EEA 100%);

// font-size
