@use "sass:math";

@function toRem($size) {
  @return math.div($size, 16px) * 1rem;
}

._flex {
  display: flex;
}
._align-center {
  align-items: center;
}
._justify-center {
  justify-content: center;
}

._justify-between {
  justify-content: space-between;
}

._direction-column {
  flex-direction: column;
}

._full-height {
  height: 100vh;
}

._h100 {
  height: 100%;
}

._h-auto {
  height: auto;
}

._min-h-100vh {
  min-height: 100vh;
}

._m-top-16 {
  margin-top: toRem(16px);
}
