@function toRem($size) {
  @return $size / 16px * 1rem;
}

._flex {
  display: flex;
}
._align-center {
  align-items: center;
}
._justify-center {
  justify-content: center;
}

._full-height {
  height: 100vh;
}