main.container._full-height._flex._align-center._justify-center
  .error-info
    h1.error-info__title WHOOOPS
    h2.error-info__status Something went totaly wrong :(
    .button-group._flex._align-center._justify-center
      a(href="/").button.button_link Go Home
      a(href="https://github.com/Praktikum-krivoruchkoND/middle.messenger.praktikum.yandex/issues", target="_blank").button.button_link Leave Issue
  img(src="https://cataas.com/cat?" + cachePrevent , alt="cat image", height="384px").error-info__image